/* src/components/EditProfilePopin.css */

.popin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popin-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.popin-content h2 {
    margin-bottom: 1rem;
}

.popin-content form {
    display: flex;
    flex-direction: column;
}

.popin-content label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.popin-content input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popin-content .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.popin-content button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #00bc77;
    color: white;
    cursor: pointer;
}

.popin-content button[type="button"] {
    background: #ccc;
}

.popin-content button[type="button"]:hover {
    background: #bbb;
}

.popin-content button:hover {
    background: #009d63;
}
